# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Aspider.settings

[deploy]
#url = http://localhost:6800/
project = 19270
username = dd5fc54d6357492d8b70967e902df93b 
